*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    .parent{
        margin: 0 auto;
    width: 400px;
    height: 450px;   
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border: solid;
    background-color: blueviolet;
}

.enfant{
    width: 80%;
    height: 20vh;
    
}

#card1{
    background-color: aquamarine;
    margin:auto;
}

#card2{
    background-color: darkmagenta;
}
#card3{
    background-color: darkgreen;
    margin:auto;

}
